{% set fields = demo.form %}

<form action="{{ demo.action }}">

  {% for field in fields %}
    {% if field.options %}
      {% FieldGroup field.id, field.label  %}
        {% SelectField field.id, field.id, true, field.options %}
      {% endFieldGroup %}
    {% else %}
      {% FieldGroup field.id, field.label  %}
        <input {% Text field.id , field.id , field.label , true %}>
      {% endFieldGroup %}
    {% endif %}
  {% endfor %}

  <button {% Button demo.action %}>
    Click Me!
  </button>
</form>