---
layout: layouts/base.njk
---
<div class="flex justify-center items-center mb-4">
  <div class="mx-auto px-5 max-w-xl">
    <p class="text-gray-400 mb-5">#render markdown</p>
    <div class="mb-5">{{ content | safe }}</div>
    <p class="text-gray-400 mb-5">#render form</p>

    {% include '../components/Form.njk' %}

  </div>
</div>