---
layout: layouts/base.njk
---
<div class="fixed inset-1 flex justify-center items-center">
    <div>
      <span class="text-change">Good design</span><br/>
      <span class="change">is<br/>as little design<br/>as possible</span>
      {{ content | safe }}
    </div>
  </div>
